<!-- src/app/app.component.html -->
<mat-sidenav-container class="layout">
  <mat-sidenav mode="side" opened>
    <mat-toolbar color="primary">Magazin PC</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/produse"      routerLinkActive="active">Produse</a>
      <a mat-list-item routerLink="/produse/nou"  routerLinkActive="active">Adaugă</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>Magazin Calculatoare</span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
